S??
*.bak
*.nes
*.nst
*.tsbsup
*.txt
*.png
*.db
*.o
*.a
*.lock
*.ods
*.swp
*.xcf
*.zip
*.jpg
TAGS

# executables
C/test_organizations_t
C/test_organization_conferences_t
C/test_conferences_t
C/test_conference_teams_t
C/test_conference_stats_t
C/test_conference_accolades_t
C/test_team_defense_stats_t
C/test_team_offense_stats_t
C/test_team_players_t
C/test_team_stats_t
C/test_teams_t
C/test_team_kicking_stats_t
C/test_team_accolades_t
C/test_players_t
C/test_player_ratings_t
C/test_player_quarterback_ratings_t
C/test_player_offense_ratings_t
C/test_player_defense_ratings_t
C/test_player_kicking_ratings_t
C/test_player_offense_stats_t
C/test_player_defense_stats_t
C/test_player_kicking_stats_t
C/test_player_returns_stats_t
C/test_player_accolades_t
C/test_player_service
C/test_team_service
C/test_conference_service
C/test_organization_service
C/test_file_utils
C/test_populate_roms
C/test_generate_schedule
C/test_convert_organization
C/export_season
C/decompress_save_state
C/print_rosters
C/standings
C/extract_data
C/injuries
C/reorg
C/set_uniforms
C/copy_playoff_teams
