S??
*.bak
*.nes
*.nst
*.tsbsup
*.txt
*.png
*.db
*.o
*.a
TAGS

# executables
C/test_organizations_t
C/test_conferences_t
C/test_conference_teams_t
C/test_conference_stats_t
C/test_conference_accolades_t
C/test_team_defense_stats_t
C/test_team_offense_stats_t
C/test_team_players_t
C/test_team_stats_t
C/test_teams_t
C/test_team_kicking_stats_t
C/test_team_accolades_t
C/test_players_t
C/test_player_ratings_t
C/test_player_quarterback_ratings_t
